[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/rhyme/Desktop/google-chrome-incognito.desktop]
row=4
col=0

[/home/rhyme/Desktop/sublime_text.desktop]
row=0
col=1

[/home/rhyme/Desktop/firefox-incognito.desktop]
row=6
col=1

[/home/rhyme/Desktop/vlc_vlc.desktop]
row=4
col=1

[/home/rhyme/Desktop/chromium-browser.desktop]
row=5
col=0

[/home/rhyme/Desktop/firefox.desktop]
row=7
col=0

[/home/rhyme/Desktop/exo-terminal-emulator.desktop]
row=2
col=0

[/home/rhyme/Desktop/Installjupyter.sh]
row=5
col=1

[/home/rhyme/Desktop/libreoffice-startcenter.desktop]
row=3
col=1

[/home/rhyme/Desktop/google-chrome.desktop]
row=3
col=0

[/home/rhyme/Desktop/rstudio.desktop]
row=2
col=1

[/home/rhyme/Desktop/code.desktop]
row=1
col=1

[/home/rhyme/Desktop/chromium-browser-incognito.desktop]
row=6
col=0

[Trash]
row=0
col=0

[/home/rhyme]
row=1
col=0

