[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/rhyme/Desktop/exo-terminal-emulator.desktop]
row=4
col=0

[/home/rhyme/Desktop/firefox.desktop]
row=3
col=0

[Trash]
row=0
col=0

[/home/rhyme]
row=2
col=0

